*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px; 
    background: #fff url(../img/bg-picture.png) right 231px top 137px no-repeat;
    background-attachment: fixed;
}
ul,
li{
    list-style: none;
    display: flex;
    
    
}
main{
    /* display: flex;
    flex-direction: column; */
}
img {
    vertical-align: top;
    max-width: 100%;
  }

a{
    text-decoration: none;
    color: #000;
}
b{
    font-weight: 700;
}
mark{
    background-color: lightgray;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
h2{
    font-size: 36px;
    line-height: 48px;
    font-family: Francois One;
    letter-spacing: 0.04em;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 40px;
    text-transform: uppercase;
    position: relative;
    right: 100px;
}
h2::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 8px;
    background: #000000;
    position: relative;
    bottom: 59px;
    left: 101px;
}
.und{
    text-decoration: underline;
}
section{
    margin-bottom: 70px;
}
header{
    width: 100%;
    margin-bottom: 100px;
   
}
.header-wrap{
    display: flex;
    justify-content:space-between;
}
header a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;

}

/* aside */
aside{
    display: inline;
}
.flex_ul{
    display: flex;
    flex-direction: column;
    position: sticky;
   
}
.aside_text{
    font-size: 36px;
    line-height: 48px;
    font-family: Francois One;
    letter-spacing: 0.04em;
    font-weight: 400;
    display: inline-block;
    
    text-transform: uppercase;
}
.aside_item{
    max-width: 385px;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 8px;
    margin-bottom: 80px;
}
/*  */
i{
    font-family: "PT sans";
    font-size: 26px;
}

.lang{
  font-family: 'Tourney';
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.06em;
  margin-right: 45px;
  color: #000;
}
.breadcrumbs{
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.03em;
    color: #000;
    position: relative;
    top:2px;
  
}
.first::after{
    content: "/";
    display: inline-block;
    margin: 0 8px;
}
.chapter{
    font-family: 'Farro';
    font-weight: 300;
    font-size: 19px;
    line-height: 17px;
    vertical-align: text-top;
    position: relative;
    top: -10px;
    left: -96px;
}

.fund_mar{
    margin-bottom: 40px;
}


.wrapper{
 float: right;
 position: relative;
 bottom: 542px;
 right: 390px;
    
}
.content{
    max-width: 785px;
}